body {
    color: rgb(255, 255, 255);
    background-color: #313131;
    font-family: 'Montserrat', sans-serif;
}


.title{
    border-bottom: 5px solid #474747;
    margin: auto;
    width: fit-content;
    font-size: larger;
    font-weight: bolder;
}

.subtitle{
    font-size: medium;
    color: rgba(255, 255, 255, 0.562);
    margin: 0 auto;
}

#nome{
    font-size: large;
}


.contact_menu{
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px
}

.link_button{
    font-size: larger;
    text-decoration: none;
    font-weight: 600;
    color:rgba(255, 255, 255, 0.562);
    letter-spacing:normal;
}

a:visited{
    color: rgba(255, 255, 255, 0.562);
}
.container{
    padding: 10px;
    font-size: medium;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.parag{
    margin: auto;
    font-size: medium;
    text-align: center;
    width: 465px;
    justify-content: center;
    letter-spacing: 0.7px;
    line-height: 1.2;
}

.pfp{
    height: 150px;
    width: 150px;
    border-radius: 50%;
}

